.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 3.5em;
    font-weight: 100;
}

.text {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2em;
    font-weight: 100;
}
.item-a {
  grid-area: artists;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 3; 
  grid-column-end: 4;
}
.item-b {
  grid-area: souvenirs;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
.item-c {
  grid-area: collectors;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 6;
}

.container-grid {
  position: absolute;
  width: 100%;
    display: grid;
    grid-gap: 10%;
    padding: 10%;
    border-style: solid;
    border-width: 1px;
    top: 10vh;
}

h4{
    margin: 0;
    font-size: 3.5em;
    font-weight: 100;
}

.title h2{
    margin: 0;
    font-size: 1.5em;
    font-weight: 100;
}

.zoomimg{
    height: 37.20238095238095vh;
    width: 19.215987701767872vw;
}

.zoomimg:hover {
  transform: scale(1.5); 
}

body
{
  min-height: fit-content;
  min-width: fit-content;
  background-color: #cccccc;
  background-image: radial-gradient(aqua, pink, turquoise);
}

@media only screen and (max-width: 600px) {
    .container-grid {
        top: 25vh;
    }
    
    .text {
       height: 50%;
    }
    
    .text p{
        font-size: 0.5em;
        font-weight: 100;
    }
    
    h4{
    margin: 0;
    font-size: 1em;
    font-weight: 100;
    }
    
    
    .title h2{
        margin: 0;
        font-size: 0.8em;
        font-weight: 100;
    }
}